einops==0.8.2
mamba_ssm==2.2.2
matplotlib==3.10.8
mlstm_kernels==2.0.2
numpy==2.4.4
omegaconf==2.3.0
packaging==26.1
pandas==3.0.2
PyYAML==6.0.2
PyYAML==6.0.3
safetensors==0.7.0
scikit_learn==1.8.0
scipy==1.17.1
sympy==1.14.0
torch==2.4.1+cu124
tqdm==4.67.1
